
@{
    ViewBag.Title = "Album01";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .nupacachi-content {
        margin-top: 25px;
    }
</style>

<div class="container">
    <div class="breadcrumbs-top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Indexx", "ChupAnh")">Chụp ảnh</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("AnhPrewedding", "ChupAnh")">Ảnh prewedding</a></li>
                <li class="breadcrumb-item active" aria-current="page">Minh Nhung & Hồng Sơn</li>
            </ol>
        </nav>
    </div>


    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="member-item">
                        <div class="item wow fadeInRight">
                            <div class="item-img">
                                <a class="d-block mb-4" data-fancybox="images" href="~/assets/img/album01/83817935_103408931244360_1156015775140544512_o.jpg">
                                    <img class="img-fluid" src="~/assets/img/album01/83817935_103408931244360_1156015775140544512_o.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-item">
                        <div class="item wow fadeInRight">
                            <div class="item-img">
                                <a class="d-block mb-4" data-fancybox="images" href="~/assets/img/album01/84153579_103408531244400_8168615901038379008_o.jpg">
                                    <img class="img-fluid" src="~/assets/img/album01/84153579_103408531244400_8168615901038379008_o.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-item">
                        <div class="item wow fadeInRight">
                            <div class="item-img">
                                <a class="d-block mb-4" data-fancybox="images" href="~/assets/img/album01/84160247_103408884577698_3622222993352032256_o.jpg">
                                    <img class="img-fluid" src="~/assets/img/album01/84160247_103408884577698_3622222993352032256_o.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-item">
                        <div class="item wow fadeInRight">
                            <div class="item-img">
                                <a class="d-block mb-4" data-fancybox="images" href="~/assets/img/album01/84352756_103408664577720_3994488725387083776_o.jpg">
                                    <img class="img-fluid" src="~/assets/img/album01/84352756_103408664577720_3994488725387083776_o.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-item">
                        <div class="item wow fadeInRight">
                            <div class="item-img">
                                <a class="d-block mb-4" data-fancybox="images" href="~/assets/img/album01/84451840_103407661244487_8117103446269624320_o.jpg">
                                    <img class="img-fluid" src="~/assets/img/album01/84451840_103407661244487_8117103446269624320_o.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-item">
                        <div class="item wow fadeInRight">
                            <div class="item-img">
                                <a class="d-block mb-4" data-fancybox="images" href="~/assets/img/album01/84491368_103407474577839_8975941187135340544_o.jpg">
                                    <img class="img-fluid" src="~/assets/img/album01/84491368_103407474577839_8975941187135340544_o.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-item">
                        <div class="item wow fadeInRight">
                            <div class="item-img">
                                <a class="d-block mb-4" data-fancybox="images" href="~/assets/img/album01/84612432_103408874577699_2264594718828527616_o.jpg">
                                    <img class="img-fluid" src="~/assets/img/album01/84612432_103408874577699_2264594718828527616_o.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-item">
                        <div class="item wow fadeInRight">
                            <div class="item-img">
                                <a class="d-block mb-4" data-fancybox="images" href="~/assets/img/album01/84564747_103408404577746_7514443539489488896_o.jpg">
                                    <img class="img-fluid" src="~/assets/img/album01/84564747_103408404577746_7514443539489488896_o.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-item">
                        <div class="item wow fadeInRight">
                            <div class="item-img">
                                <a class="d-block mb-4" data-fancybox="images" href="~/assets/img/album01/86269680_103407447911175_2539061026171650048_o.jpg">
                                    <img class="img-fluid" src="~/assets/img/album01/86269680_103407447911175_2539061026171650048_o.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
