


@{
    ViewBag.Title = "QuayPhongSuCuoi";
}

<style>
    .nupacachi-content {
        margin-top: 25px;
    }
</style>

<div class="container">
    <div class="breadcrumbs-top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Index", "QuayPhim")">Chụp ảnh</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quay phóng sự cưới</li>
            </ol>
        </nav>
    </div>


    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="text-center">
                    <h2>Trang đang hoàn thiện ...</h2>
                </div>
            </div>
        </div>
    </div>
</div>
