<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <!-- Title Page-->
    <title>Quản lý +84 studio</title>
    <link rel="icon" href="/assets/img/logo/logo_mini.png">
    <!-- Fontfaces CSS-->
    <link href="/Areas/Administrator/Assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="/Areas/Administrator/Assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/Areas/Administrator/Assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/Areas/Administrator/Assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="/Areas/Administrator/Assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="/Areas/Administrator/Assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/Areas/Administrator/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/Areas/Administrator/Assets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/Areas/Administrator/Assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/Areas/Administrator/Assets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/Areas/Administrator/Assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/Areas/Administrator/Assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="/Areas/Administrator/Assets/vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">

    <link href="/Areas/Administrator/Assets/css/pagination.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="/Areas/Administrator/Assets/css/theme.css" rel="stylesheet" media="all">

    <link href="/Areas/Administrator/Assets/css/sweetalert2.min.css" rel="stylesheet" />
    <link href="/Areas/Administrator/Assets/css/select2.min.css" rel="stylesheet" />

    <style>
        .header-wrap2 {
            width: 90%;
            padding-left: 35px;
        }
    </style>
</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <div class="logo">
                <a href="#">
                    <img src="/assets/img/logo/logo_notext_big.png" alt="+84 Studio" style="width:60% !important; margin-left: 40px;" />
                </a>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <div class="image img-cir img-120">
                        <img src="/Areas/Administrator/Assets/images/icon/avatar-big-01.jpg" alt="John Doe" />
                    </div>
                    <h4 class="name">john doe</h4>
                    <a href="#">Sign out</a>
                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-camera"></i>Chụp ảnh
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/Administrator/PhotoCategory/Index">
                                        <i class="fas fa-list-alt"></i>Danh mục chụp ảnh
                                    </a>
                                </li>
                                <li>
                                    <a href="/Administrator/PhotoPost/Index">
                                        <i class="fas fa-file-text"></i>Bài viết chụp ảnh
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-video-camera"></i>Quay phim
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/Administrator/CameraCategory/Index">
                                        <i class="fas fa-list-alt"></i>Danh mục quay phim
                                    </a>
                                </li>
                                <li>
                                    <a href="/Administrator/CameraPost/Index">
                                        <i class="fas fa-file-text"></i>Bài viết quay phim
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-money-bill-alt"></i>Báo giá
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/Administrator/PriceCategory/Index">
                                        <i class="fas fa-list-alt"></i>Danh mục báo giá
                                    </a>
                                </li>
                                <li>
                                    <a href="/Administrator/PricePost/Index">
                                        <i class="fas fa-file-text"></i>Bài viết báo giá
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Danh mục khác
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/Administrator/OtherCategory/Index">
                                        <i class="fas fa-list-alt"></i>Danh mục khác
                                    </a>
                                </li>
                                <li>
                                    <a href="/Administrator/OtherPost/Index">
                                        <i class="fas fa-file-text"></i>Bài viết danh mục khác
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">
                            <div class="logo d-block d-lg-none">
                                <a href="#">
                                    <img src="/assets/img/logo/logo_notext_big.png" alt="+84 Studio" style="width:50%" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
                <div class="logo">
                    <a href="#">
                        <img src="/Areas/Administrator/Assets/images/icon/logo-white.png" alt="Cool Admin" />
                    </a>
                </div>
                <div class="menu-sidebar2__content js-scrollbar2">
                    <div class="account2">
                        <div class="image img-cir img-120">
                            <img src="/Areas/Administrator/Assets/images/icon/avatar-big-01.jpg" alt="John Doe" />
                        </div>
                        <h4 class="name">john doe</h4>
                        <a href="#">Sign out</a>
                    </div>
                    <nav class="navbar-sidebar2">
                        <ul class="list-unstyled navbar__list">
                            <li class="active has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Chụp ảnh
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="/Administrator/PhotoCategory/Index">
                                            <i class="fas fa-tachometer-alt"></i>Danh mục chụp ảnh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Administrator/PhotoPost/Index">
                                            <i class="fas fa-tachometer-alt"></i>Bài viết chụp ảnh
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Quay phim
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="/Administrator/CameraCategory/Index">
                                            <i class="fas fa-tachometer-alt"></i>Danh mục quay phim
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Administrator/CameraPost/Index">
                                            <i class="fas fa-tachometer-alt"></i>Bài viết quay phim
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Báo giá
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="/Administrator/PriceCategory/Index">
                                            <i class="fas fa-tachometer-alt"></i>Danh mục báo giá
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Administrator/PricePost/Index">
                                            <i class="fas fa-tachometer-alt"></i>Bài viết báo giá
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Danh mục khác
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="/Administrator/OtherCategory/Index">
                                            <i class="fas fa-tachometer-alt"></i>Danh mục khác
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Administrator/OtherPost/Index">
                                            <i class="fas fa-tachometer-alt"></i>Bài viết danh mục khác
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <!-- END HEADER DESKTOP-->
            <!-- PAGE CONTAINER-->
            <div class="page-container">
                @RenderBody()

                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Bản quyền thuộc về Thu "xCyrusT" Le © 2020<span class="sep"> | </span>Thiết kế website bởi: <a>Thu "xCyrusT" Le</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="/Areas/Administrator/Assets/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/Areas/Administrator/Assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/Areas/Administrator/Assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/Areas/Administrator/Assets/vendor/slick/slick.min.js">
    </script>
    <script src="/Areas/Administrator/Assets/vendor/wow/wow.min.js"></script>
    <script src="/Areas/Administrator/Assets/vendor/animsition/animsition.min.js"></script>
    <script src="/Areas/Administrator/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/Areas/Administrator/Assets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/Areas/Administrator/Assets/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/Areas/Administrator/Assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/Areas/Administrator/Assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/Areas/Administrator/Assets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/Areas/Administrator/Assets/vendor/select2/select2.min.js">
    </script>
    <script src="/Areas/Administrator/Assets/vendor/vector-map/jquery.vmap.js"></script>
    <script src="/Areas/Administrator/Assets/vendor/vector-map/jquery.vmap.min.js"></script>
    <script src="/Areas/Administrator/Assets/vendor/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="/Areas/Administrator/Assets/vendor/vector-map/jquery.vmap.world.js"></script>
    <!-- Main JS-->
    <script src="/Areas/Administrator/Assets/js/main.js"></script>

    @RenderSection("Scripts", false)

    <script src="/Areas/Administrator/Assets/js/pagination.min.js"></script>
    <script src="/Areas/Administrator/Assets/ckeditor/ckeditor.js"></script>
    <script src="/Areas/Administrator/Assets/ckfinder/ckfinder.js"></script>
    <script src="/Areas/Administrator/Assets/js/sweetalert2.all.min.js" charset="UTF-8"></script>
    <script src="/Areas/Administrator/Assets/js/select2.min.js"></script>
</body>
</html>
<!-- end document-->
