
@{
    ViewBag.Title = "BaoGia";
}

<style>
    #content {
        display: contents;
    }
</style>

<div class="container">
    <div class="panel ">
        <div class="panel-heading"><div class="left"><h2>Báo giá</h2></div> <div class="right"><a href="#"></a></div></div>
        <div class="panel-body">
            <div class="row" id="content">
                <p dir="ltr"><span style="color:#d80000"><strong>✵ G&Oacute;I 1: COPPER : 3.400.000 VNĐ</strong></span></p>

                <p dir="ltr"><strong>( G&oacute;i Chụp Ph&oacute;ng Sự 2 ng&agrave;y )&nbsp;</strong></p>

                <p dir="ltr"><strong>✵ Gồm c&oacute;:</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y ăn hỏi ( Time &lt;4h ): 1 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y cưới (Time &lt;8h ): 1 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; H&igrave;nh thức chụp: Truyền thống + Ph&oacute;ng sự cưới</strong></p>

                <p dir="ltr"><strong>✵ Sản phẩm :</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; To&agrave;n bộ file ảnh gốc.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; 100 ảnh đẹp chọn lọc Photoshop</strong></p>

                <p dir="ltr">&nbsp;</p>

                <p dir="ltr"><span style="color:#d80000"><strong>✵ G&Oacute;I 2: SILVER : 5.400.000 VNĐ</strong></span></p>

                <p dir="ltr"><strong>( G&oacute;i Chụp Ph&oacute;ng Sự 2 ng&agrave;y )&nbsp;</strong></p>

                <p dir="ltr"><strong>✵ Gồm c&oacute;:</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y ăn hỏi ( Time &lt;4h ): 1 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y cưới (Time &lt;8h ): 1 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; H&igrave;nh thức chụp: Truyền thống + Ph&oacute;ng sự cưới</strong></p>

                <p dir="ltr"><strong>✵ Sản phẩm :</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; To&agrave;n bộ file ảnh gốc.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; 100 ảnh đẹp chọn lọc Photoshop.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Tặng Album photobook H&agrave;n Quốc cao cấp 20 trang 25x35cm.</strong></p>

                <p dir="ltr"><strong>&nbsp;</strong></p>

                <p dir="ltr"><span style="color:#d80000"><strong>✵ G&Oacute;I 3: SILVER VIP : 6.800.000 VNĐ</strong></span></p>

                <p dir="ltr"><strong>( G&oacute;i Chụp Ph&oacute;ng Sự VIP 2 ng&agrave;y )&nbsp;</strong></p>

                <p dir="ltr"><strong>✵ Gồm c&oacute;:</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y ăn hỏi ( Time &lt;5h ): 1 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y cưới (Time &lt;9h ): 2 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; H&igrave;nh thức chụp: Truyền thống + Ph&oacute;ng sự cưới</strong></p>

                <p dir="ltr"><strong>✵ Sản phẩm :</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; To&agrave;n bộ file ảnh gốc.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; 150 ảnh đẹp chọn lọc Photoshop.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Tặng Album photobook H&agrave;n Quốc cao cấp 20 trang 30x30cm.</strong></p>

                <p dir="ltr"><strong>&nbsp;</strong></p>

                <p dir="ltr"><span style="color:#d80000"><strong>✵ G&Oacute;I 4: SILVER VIP PLUS : 8.800.000 VNĐ</strong></span></p>

                <p dir="ltr"><strong>( G&oacute;i Chụp Ph&oacute;ng Sự VIP 2 ng&agrave;y )&nbsp;</strong></p>

                <p dir="ltr"><strong>✵ Gồm c&oacute;:</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y ăn hỏi ( Time &lt;5h ): 2 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y cưới (Time &lt;9h ): 2 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; H&igrave;nh thức chụp: Truyền thống + Ph&oacute;ng sự cưới</strong></p>

                <p dir="ltr"><strong>✵ Sản phẩm :</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; To&agrave;n bộ file ảnh gốc.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; 200 ảnh đẹp chọn lọc Photoshop.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Tặng Album photobook H&agrave;n Quốc cao cấp 30 trang 30x30cm.</strong></p>

                <p dir="ltr"><strong>&nbsp;</strong></p>

                <p dir="ltr"><span style="color:#d80000"><strong>✵ G&Oacute;I 5: GOLD : 15.800.000 VNĐ</strong></span></p>

                <p dir="ltr"><strong>( G&oacute;i Chụp &amp; Quay Ph&oacute;ng Sự: 2 Ng&agrave;y Cưới )&nbsp;</strong></p>

                <p dir="ltr"><strong>✵ Gồm c&oacute;:</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y ăn hỏi ( Time &lt;5h ): 1 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y cưới (Time &lt;8h ): 1 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Quay ng&agrave;y ăn hỏi ( Time &lt;5h ): 1 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Quay ng&agrave;y cưới (Time &lt;8h ): 1 m&aacute;y quay</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; H&igrave;nh thức chụp + quay: Truyền thống + Ph&oacute;ng sự cưới</strong></p>

                <p dir="ltr"><strong>✵ Sản phẩm :</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; To&agrave;n bộ file ảnh gốc.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; 200 ảnh đẹp chọn lọc Photoshop.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Video ph&oacute;ng sự Hightlight 3-10p Full HD.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Tặng Album photobook H&agrave;n Quốc cao cấp 20 trang 30x30cm.</strong></p>

                <p dir="ltr"><strong>&nbsp;</strong></p>

                <p dir="ltr"><span style="color:#d80000"><strong>✵ G&Oacute;I 6: PLATINUM : 20.800.000 VNĐ</strong></span></p>

                <p dir="ltr"><strong>( G&oacute;i Chụp &amp; Quay Ph&oacute;ng Sự 2 ng&agrave;y)&nbsp;</strong></p>

                <p dir="ltr"><strong>✵ Gồm c&oacute;:</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y ăn hỏi ( Time &lt;4h ): 2 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y cưới (Time &lt;8h ): 2 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Quay ng&agrave;y ăn hỏi (Time &lt;4h ): 2 m&aacute;y quay</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Quay ng&agrave;y cưới (Time &lt;8h ): 2 m&aacute;y quay</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; H&igrave;nh thức chụp + quay: Truyền thống + Ph&oacute;ng sự cưới</strong></p>

                <p dir="ltr"><strong>✵ Sản phẩm :</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; To&agrave;n bộ file ảnh gốc</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; 200 ảnh đẹp chọn lọc Photoshop.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Video ph&oacute;ng sự Hightlight 5-10p v&agrave; Bản Full 20-40p Full HD.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Tặng Album photobook H&agrave;n Quốc cao cấp 20 trang 30x30cm.</strong></p>

                <p dir="ltr"><strong>&nbsp;</strong></p>

                <p dir="ltr"><span style="color:#d80000"><strong>✵ G&Oacute;I 7: PLATINUM PLUS : 34.800.000 VNĐ</strong></span></p>

                <p dir="ltr"><strong>( G&oacute;i Chụp &amp; Quay Ph&oacute;ng Sự 2 ng&agrave;y )&nbsp;</strong></p>

                <p dir="ltr"><strong>✵ Gồm c&oacute;:</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y ăn hỏi ( Time &lt;4h ): 2 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y cưới (Time &lt;8h ): 3 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Quay ng&agrave;y ăn hỏi (Time &lt;4h ): 2 m&aacute;y quay</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Quay ng&agrave;y cưới (Time &lt;8h ): 3 m&aacute;y quay</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; H&igrave;nh thức chụp + quay: Truyền thống + Ph&oacute;ng sự cưới</strong></p>

                <p dir="ltr"><strong>✵ Sản phẩm :</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; To&agrave;n bộ file ảnh gốc.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; 200 ảnh đẹp chọn lọc Photoshop.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Tặng Album photobook H&agrave;n Quốc cao cấp 30 trang 30x30cm.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Video ph&oacute;ng sự Hightlight 5-10p v&agrave; Bản Full 20-40p Full HD.</strong></p>

                <p dir="ltr"><strong>&nbsp;</strong></p>

                <p dir="ltr"><span style="color:#d80000"><strong>✵ G&Oacute;I DIAMOND LIMITED : 56.800.000 VNĐ</strong></span></p>

                <p dir="ltr"><strong>( G&oacute;i Chụp &amp; Quay Ph&oacute;ng Sự VIP 2 ng&agrave;y )</strong></p>

                <p dir="ltr"><strong>( Ekip quay chụp c&oacute; quản l&yacute; +84 studio )&nbsp;</strong></p>

                <p dir="ltr"><strong>✵ Gồm c&oacute;:</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y ăn hỏi ( Time &lt;6h ): 2 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Chụp ng&agrave;y cưới (Time &lt;10h ): 2 m&aacute;y</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Quay ng&agrave;y ăn hỏi (Time &lt;6h ): 2 m&aacute;y quay</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Quay ng&agrave;y cưới (Time &lt;10h ): 2 m&aacute;y quay</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Quay livestream&nbsp; m&agrave;n led ng&agrave;y cưới</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; H&igrave;nh thức chụp + quay: Truyền thống + Ph&oacute;ng sự cưới</strong></p>

                <p dir="ltr"><strong>✵ Sản phẩm :</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; To&agrave;n bộ file gốc + 200 ảnh đẹp chọn lọc Photoshop.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Tặng Album photobook H&agrave;n Quốc cao cấp 40 trang 30x30cm.</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Video ph&oacute;ng sự Hightlight 5-10p v&agrave; Bản Full 20-40p Full HD</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Tặng ổ cứng 500GB gồm tất cả file gốc + sản phẩm ho&agrave;n thiện.</strong></p>

                <p dir="ltr"><strong>___________________________________</strong></p>

                <p dir="ltr"><span style="color:#d80000"><strong>✵ G&Oacute;I IN:</strong></span></p>

                <p dir="ltr"><strong>&bull;&nbsp; Thiết kế + In photobook cao cấp 60 trang cỡ 30&times;30 : 6.000.000 VNĐ</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Thiết kế + In photobook cao cấp 30 trang cỡ 30&times;30 : 3.000.000 VNĐ</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Thiết kế + In photobook cao cấp 30 trang cỡ 25&times;25 : 2.500.000 VNĐ</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; In ảnh &eacute;p lụa/ &eacute;p Uv : 15.000 VNĐ/ ảnh</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; In ảnh lụa &eacute;p gỗ 50x75cm : 700.000 VNĐ/ ảnh</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; In ảnh lụa &eacute;p gỗ 60x90cm : 900.000 VNĐ/ ảnh</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; In ảnh lụa &eacute;p gỗ 100x150cm : 1.500.000 VNĐ/ ảnh</strong></p>

                <p dir="ltr"><strong>___________________________________</strong></p>

                <p dir="ltr"><span style="color:#d80000"><strong>✵ PH&Aacute;T SINH:</strong></span></p>

                <p dir="ltr"><strong>&bull;&nbsp; Th&ecirc;m 1 m&aacute;y chụp: + 2.500.000 VNĐ / Buổi</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Th&ecirc;m 1 m&aacute;y quay: + 4.500.000 VNĐ / Buổi</strong></p>

                <p dir="ltr"><strong>&bull;&nbsp; Th&ecirc;m Flycam: + 3.500.000 VNĐ / Buổi</strong></p>
            </div>
        </div>
    </div>
</div>
